<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.cjvirtucio.beacon.mapper.CrimeMapper'>
    <resultMap id="CrimeResultMap" type="com.cjvirtucio.beacon.value.Crime">
        <id property="id" column="Id"/>
        <result property="crimeTime" column="CrimeTime"/>
        <result property="crimeCode" column="CrimeCode"/>
        <result property="location" column="Location"/>
        <result property="description" column="Description"/>
        <result property="weapon" column="Weapon"/>
        <result property="post" column="Post"/>
        <result property="districtName" column="DistrictName"/>
        <result property="districtId" column="DistrictId"/>
        <result property="neighborhood" column="Neighborhood"/>
        <result property="coords" column="Location_1"/>
        <result property="crimeCaseNumber" column="crimeCaseNumber"/>
    </resultMap>

    <select id='getCrimesByDistrictId' parameterType='int' resultMap='CrimeResultMap'>
        SELECT
            c.*
        FROM
            crime c JOIN
            district d ON
            c.DistrictId = d.Id
        WHERE
            c.DistrictId = #{DistrictId}
    </select>

    <select id='getCrimeCountForDistrict' parameterType='int' resultType='int'>
        SELECT
            count(*) as crime_count
        FROM
            crime c JOIN
            district d ON
            c.DistrictId = d.Id
        WHERE
            d.Id = #{DistrictId};
    </select>
</mapper>